extends ../shared/template

block content
  #title
    h1 #{title}
    i.fa.fa-cutlery

  #dashboard
    #user(data-id=user._id)= user.email
    button#add Add Item
    .clear

  .clear

  form#order(action='/orders', method='post')
    .item
      input(type='number', name='qty', placeholder='Qty')

      select.menu
        option Select a Menu
        each menu in menus
          option= menu

      select.dish(name='dishId')
        option Select a Dish

      .item-cost
        p $0.00
        a.remove(href='#')
          i.fa.fa-trash-o

    //button#submit Order Food
    .clear

  #total-wrapper
    #total $0.00
    .clear
    button#submit Order Food

block scripts
  script(src='/js/es6/compiled/orders.js')
